@model ContactInfo

@{
    ViewBag.Title = "Contact Edit";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Əlaqə Məlumatların Dəyiş</strong>
            </div>
            <div class="card-body">
                <div id="pay-invoice">
                    <div class="card-body">
                        <div class="card-title">
                        </div>
                        <hr>
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                 <input type="text" class="form-control" asp-for="Info" name="Info" >
                                <span asp-validation-for="Info" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Dəyiş" class="btn btn-block btn-success"/>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
         <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                    asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                    asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
            </script>
            <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
}
