@model System.Collections.Generic.List<Coffe.Models.Target>

@{
    ViewBag.Title = "Target";
    Layout = "_Layout";
}

@section Styles
{
    <style>
        img{
            height: 100px;
            width: 100px;
            object-fit: cover;
        }
        td{
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Məqsəd və Missiyamız</strong>
        </div>
        <div class="card-body">
            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Məqsəd və missiyamız</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var target in Model)
                {
                    <tr>
                        <td>@target.Description</td>
                        <td>
                            <a asp-action="edit" asp-route-id="@target.Id" class="btn-warning btn">Dəyiş</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>