@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Parol unutmusunuz";
    Layout = "_Layout";
}

@section Style
{
    <style>
        form{
        margin: 50px 0;
        }
        h2{
        margin-top: 50px;
        }
    </style>
}

<div id="tp-page-header" class="tp-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Parolu unutmusunuz?</h1>
                </div>
            </div>
        </div>
    </div>
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Ana Səhfə</a>
                    </li>
                    <li class="active">Parolu unutmusunuz? </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Parolu unutmusunuz?</h2>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <h4>Email-nizi daxil edin</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Göndər</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>