@model object
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["EmailConf"];
    Layout = "_Layout";
}

<div id="tp-page-header" class="tp-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Localizer["EmailConf"]</h1>
            </div>
        </div>
    </div>
</div>
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="active">@Localizer["EmailConf"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@Localizer["Email"]</h1>
        </div>
    </div>
</div>