@model object

@{
    ViewBag.Title = "Parolu təstiq et";
    Layout = "_Layout";
}

<div id="tp-page-header" class="tp-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Parolu təsdiq et</h1>
                </div>
            </div>
        </div>
    </div>
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Ana Səhfə</a>
                    </li>
                    <li class="active">Parolu təsdiq et </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Zəhmət olmasa qeydiyyatı tamamlamaq üçün email ünvanıza göndərilən məktubdakı linkdən keçid edin!</h1>
        </div>
    </div>
</div>