@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Parolu yenilə";
    Layout = "_Layout";
}

@section Style
{
    <style>
        form{
        margin: 50px 0;
        }
        h2{
        margin-top: 50px;
        }
    </style>
}

<div id="tp-page-header" class="tp-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Parolu yenilə</h1>
            </div>
        </div>
    </div>
</div>
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Ana Səhfə</a>
                    </li>
                    <li class="active">Parolu yenilə </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Parolu yenilə</h2>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Yenilə</button>
            </form>
        </div>
    </div>
</div>