@{
    ViewBag.Title = "Parolu yeniləndi";
    Layout = "_Layout";
}

<div id="tp-page-header" class="tp-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Parolu yeniləndi</h1>
            </div>
        </div>
    </div>
</div>
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Ana Səhfə</a>
                    </li>
                    <li class="active">Parolu yeniləndi</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Zəhmət olmasa sayta daxil olmaq üçün <a class="text-primary" asp-action="Login">Daxil ol</a> linkinə keçid edin</h1>
        </div>
    </div>
</div>