@model HomeIndexViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_Layout";
}

@section Style{ 
    <style>
        #slider{
            position: relative;
        }
        .caption{
                position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        }
    </style>
}


<div class="lp-slider">
    <!-- slider -->
    <div id="slider">
        @foreach (var slider in Model.Sliders)
        {
            <div class="item-image ">
                <img src="~/img/@slider.Image" style="height: 100vh; object-fit: cover; width: 100vw" alt="">
                
                        </div>
            <div class="caption">
                <h1>@slider.Title.ToUpper()</h1>
                <h3>@slider.Subtitle.ToUpper()</h3>
            </div>
        }
    </div>
</div>