@model HomeIndexViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



<div class="lp-slider">
    <!-- slider -->
    <div id="slider">
        @foreach (var slider in Model.Sliders)
        {
            <div class="item-image ">
                <img src="~/img/@slider.Image" style="height: 100vh; object-fit: cover;width: 100vw" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="slider-captions">
                                <div class="h1 slider-title wow fadeInLeft animated" style="visibility: visible;">@slider.Title.ToUpper()</div>
                                <p class="slider-text wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;"></p>
                                <p>@slider.Subtitle.ToUpper()</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>