@model AboutIndexViewModel;

@{
    ViewData["Title"] = "Biz Kimik";
    Layout = "_Layout";
}

<div id="tp-page-header" class="tp-page-header">
    <!-- page header -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Biz Kimik</h1>
            </div>
        </div>
    </div>
</div>
<!-- /.page header -->
<div id="tp-breadcrumb" class="tp-breadcrumb">
    <!-- breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Ana Səhfə</a>
                    </li>
                    <li class="active">Biz Kimik?</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div id="main-container" class="main-container">
<!-- main container -->
<div id="tp-service-detail" class="tp-service-detail">
    <!-- service detaile -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 left-sidebar">
                <!-- left sidebar -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="service-block">
                            <div class="service-content">
                                <!-- info -->
                                <h1>Biz Kimik?</h1>
                                <!-- /.info -->
                            </div>
                        </div>
                    </div>
                    <div class="bullet">
                    </div>
                    <!-- /.bullet -->
                    <style type="text/css">.font16{font-size:17px;}</style>
                    <div class="col-md-12 text-justify font17">
                        @foreach (var about in Model.Abouts)
                        {
                            <p>@about.Description</p>

                            <p><img class="img-responsive" src="~/img/@about.Image" alt="@about.Image"/></p>
                        }
                    </div>
                    <div class="col-md-12">
                        <p>&nbsp;</p>
                        <div class="h3">Həmçinin</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a asp-controller="About" asp-action="Target">Məqsəd və Missiyamız</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-controller="About" asp-action="History">Tariximiz</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-controller="About" asp-action="Value">Dəyərlərimiz</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.service detaile -->
</div>